﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";

}
<h2>Welcome</h2>
<ul>
    @for(int i=0;i<(int)ViewData["NumTimes"];i++)
            {
                <li>
                    @ViewData["Message"]
                </li>
            }
</ul>
